<h2 align="center">Welcome to the Demo</h2>
<br>
<% if current_user %>
  <div class="container" align="center">
    Hello World!!!
  </div>
<% else %>
  <div class="container" align="center">
    Empty!!
  </div>
<% end %>